header {
    background-color: black;
    height: 55px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 32px;

}

#site-title {
    color: whitesmoke;
}

html {
    background-color: coral;
}